body {
    font-family: adobe-clean, Helvetica, sans-serif;
}

code {
    border: 1px solid #d8d8d8;
    background: #fff0da;
    padding: 2px 6px;
    border-radius: 4px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.spectrum-Padding {
    padding: 8px;
}

.helix-Editor {
    font-family: source-code-pro, monospace;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    min-height: 800px;
    border: none;
    padding: 24px;
    line-height: 1.2;
    font-size: 16px;
}

.helix-Icon.helix-Icon--action {
    float: left;
    margin-right: 8px;
}